
Class_ and_ Methods/.vs/Class_ and_ Methods/v15/.suo
Class_ and_ Methods/.vs/Class_ and_ Methods/v15/Server/sqlite3/db.lock
Class_ and_ Methods/.vs/Class_ and_ Methods/v15/Server/sqlite3/storage.ide
Class_ and_ Methods/Age-Tall.cs
Class_ and_ Methods/App.config
Class_ and_ Methods/Class_ and_ Methods.csproj
Class_ and_ Methods/Class_ and_ Methods.sln
Class_ and_ Methods/Height.cs
Class_ and_ Methods/obj/Debug/Class_ and_ Methods.csproj.CoreCompileInputs.cache
Class_ and_ Methods/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Class_ and_ Methods/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Class_ and_ Methods/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Class_ and_ Methods/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Class_ and_ Methods/Properties/AssemblyInfo.cs
Class_ and_ Methods/Tree.cs
Persons/.vs/Persons/v15/.suo
Tree_Age/.vs/Tree_Age/v15/.suo
Tree_Age/.vs/Tree_Age/v15/Server/sqlite3/db.lock
Tree_Age/.vs/Tree_Age/v15/Server/sqlite3/storage.ide
Tree_Age/Age.cs
Tree_Age/App.config
Tree_Age/bin/Debug/Tree_Age.exe
Tree_Age/bin/Debug/Tree_Age.exe.config
Tree_Age/bin/Debug/Tree_Age.pdb
Tree_Age/Oak.cs
Tree_Age/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tree_Age/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tree_Age/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tree_Age/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tree_Age/obj/Debug/Tree_Age.csproj.CoreCompileInputs.cache
Tree_Age/obj/Debug/Tree_Age.csproj.FileListAbsolute.txt
Tree_Age/obj/Debug/Tree_Age.csprojAssemblyReference.cache
Tree_Age/obj/Debug/Tree_Age.exe
Tree_Age/obj/Debug/Tree_Age.pdb
Tree_Age/Program.cs
Tree_Age/Properties/AssemblyInfo.cs
Tree_Age/SimpleMath.cs
Tree_Age/Tree_Age.sln
Tree_Age/TreeAge.cs
Tree_Age/TreeType.cs

